/* 使用 type="text" 为输入设置样式，选择元素和文本区域 */
/* 全宽 */
/* 一些填充 */
/* 灰色边框 */
/* 圆角边框 */
/* 确保填充和宽度保持不变 */
/* 添加上边距 */
/* 下边距 */
/* 允许用户垂直调整文本区域的大小（不是水平） */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* 使用特定背景颜色等设置提交按钮的样式 */
/* 背景色：#4af50；
         颜色：白色；
         内填充：12px 20px；
         边框：无；
         圆角边框：4px；
         光标：指针样式；
      */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 将鼠标移到提交按钮上时，添加深绿色 */
/* 背景色：#45a049； */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* 在表单周围添加背景颜色和一些填充 */
/* 圆角边框：5px；
      背景色：#f2f2f2；
      内填充：20px； */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}