/* 设置输入框 */
.forms input,
.forms select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

    display: inline-block;
    /* 行内块元素 结合inline和block的部分属性，最大的特点便是可以使元素在一行上显示 ，又能够改变元素的height，width的值.*/

    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px;
    box-sizing: border-box; /* 怪异盒子模型 */
}

/* 设置提交和重置按钮 */
.replacement {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;

    /* 显示边框无 */
    border: none;

    border-radius: 4px;
    cursor: pointer; /* 鼠标指针 */
    background-color: #45a049;
}

/* 设置提交和重置按钮 */
.replacement:hover {
    background-color: #45a049;
}

/* 设置包含表单的盒子 */
.content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* 设置表单 */
.forms {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 20px;
}