      html,
      body {
          margin: 0;
          padding: 0;
          height: 100%;
          background: #fff;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      p,
      span,
      div {
          font-family: "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei" !important; /* 设置字体 */
      }

      /* cursor : 网页浏览时用户鼠标指针的样式或图形形状。 属性值： default：默认光标（通常是一个箭头） auto：默认，浏览器设置的光标 crosshair：光标为十字线 pointer：光标为一只手 move：光标为某对象可移动 text：光标指示文本 wait：光标指示程序正在忙（通常是一只表或者一个沙漏） */
      /* 设置文本的修饰线外观 */
      a {
          cursor: pointer;
          text-decoration: none !important;
          color: #333333;
      }

      html,
      body,
      div,
      img,
      a,
      p,
      h1,
      h2,
      span,
      span,
      button,
      ul,
      li,
      input {
          margin: 0px;
          padding: 0px;
      }

      /* 去列表小点点 */
      ul,
      li {
          list-style: none;
      }

      button,
      input {
          outline: none; /* 去掉边框 */
          border: none; /* 去掉边框 */
      }

      .fl {
          float: left;
      }

      .fr {
          float: right;
      }

      /*管理界面*/
      .log_on_box {
          width: 100%;
          height: 100%;
          background-color: #fff;
      }

      .log_on_fl {
          width: 500px;
          height: 100%;
          background-color: #eff8ff;
          padding: 0 50px;
          position: relative; /* 绝对定位 */
          display: block;   /* 元素显示 */
      }

      .log_on_fl .log_on_logo {
          width: 128px;
          margin-top: 100px;
          margin-left: 57px;
      }

      .log_on_fl .log-bg {
          width: 420px;
          position: absolute; /* 绝对定位 */
          left: 80px;
          bottom: 0; /* 底部 */
      }

      .log_on_fl .foot-text {
          position: absolute; /* 绝对定位 */
          left: 50%; /* 居中 */
          bottom: 20px;
          transform: translate(-50%, 0); /* 往左和上移动自身长宽的50% */
          font-size: 12px;
          color: #666666;
          text-align: center; /* 居中 */
          width: 100%;
      }

      .log_on_fl .foot-text p {
          font-size: 12px; /* 字体大小 */
          font-weight: 400; /* 字体粗细 */
          letter-spacing: normal; /* 字符间距 */
          line-height: 25px; /* 行高 */
          color: #666666;
      }

      .log_on_fl .foot-text p a {
          color: #666666;
          margin-top: 0;
          /*display:inline-block*/
      }

      .log_on_fl .foot-text img {
          width: 15px;
          height: 15px;
          vertical-align: text-bottom; /* 垂直居下 */
      }

      .log_on_fl .foot-text a {
          color: #666666;
          padding-right: 4px; /* 右边距 */
          display: inline-block; /* 元素显示 */
          margin-top: 5px;
      }

      .log_on_fl .foot-text .fgx_a::after {
          content: " "; /* 空白内容 */
          width: 0.8px;
          height: 10px;
          display: inline-block;
          background-color: #a5a5a5;
          margin-left: 10px;
      }

      .log_on_fl p {
          font-size: 30px;
          line-height: 40px;
          letter-spacing: 2px;
          color: #333333;
          font-weight: 600;
          margin-left: 40px;
      }

      .log_on_fl ul {
          margin-top: 17px;
      }

      .log_on_fl ul li {
          font-size: 18px;
          line-height: 32px;
          color: #666666;
          vertical-align: middle; /* 垂直居中 */
      }

      .log_on_fl ul li:before {
          content: "  ";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          border: 2px solid #128beb;
          background: transparent; /* 去背景 */
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle; /* 垂直居中 */
      }

      .log_on_fr {
          position: relative; /* 绝对定位 */
        /* Css3中的新属性 */
          width: -webkit-calc(100% - 600px); /* 100% - 600px */
          width: calc(100% - 600px); /* 100% - 600px */
          height: 100%;
      }

      .log_on_fr .log_on_from,
      .register-box .log_on_from {
          width: 380px;
          overflow: hidden; /* 去掉滚动条 */
          position: absolute; /* 绝对定位 */
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); /* 往左和上移动自身长宽的50% */
          -webkit-transform: translate(-50%, -50%); /* 往左和上移动自身长宽的50% */
      }

      .log_on_fr .log_on_from .log_on_logo02,
      .register-box .log_on_from .log_on_logo02 {
          display: none; /* 元素隐藏 */
      }

      .log_on_fr .log_on_from h1,
      .register-box .log_on_from h1 {
          font-size: 22px;
          margin-bottom: 20px;
          color: #333333;
      }

      .log_on_fr .log_on_from input,
      .register-box .log_on_from input {
          width: 100%;
          background-color: #f2f3f5;
          border: 1px solid #f2f3f5;
          box-sizing: border-box;
          font-size: 14px;
          height: 45px;
          margin: 10px 0;
          padding-left: 10px; /* 左边距 */
          border-radius: 4px; /* 圆角 */
          -webkit-appearance: none; /* 去掉默认的外观 */
          outline: none;
      }

      .log_on_fr .log_on_from input:focus,
      .register-box .log_on_from input:focus {
          border: 1px solid #128beb;
      }

      .log_on_fr .log_on_from .sign_but,
      .register-box .log_on_from .sign_but {
          width: 100%;
          line-height: 45px;
          margin: 0 auto;
          background-color: #128beb;
          display: block;
          border-radius: 4px;
          text-align: center;
          color: #fff;
          margin-top: 20px;
      }

      .log_on_from .careful_from {
          height: 45px;
          line-height: 45px;
      }

      .log_on_from .careful_from span {
          margin: 10px 0;
          overflow: hidden; /* 去掉滚动条 */
      }

      .log_on_from .careful_from span a {
          font-size: 14px;
          color: #128beb;
      }

      .log_on_from .careful_from span strong {
          font-weight: 100;
          color: #666666;
          font-size: 14px;
      }

      .log_on_from .other_sign {
          position: relative;
          font-size: 14px;
          text-align: center;
          border-top: 1px dashed #e2e2e2;
          margin: 50px 0;
      }

      .log_on_from .other_sign p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); /* 往左和上移动自身长宽的50% */
          padding: 10px 20px;
          background-color: #fff;
          display: block;
          color: #666666;
          font-size: 14px;
      }

      .log_on_from ul {
          display: flex;
          display: -webkit-flex; /* 兼容性 */
          justify-content: center; /* 垂直居中 */
      }

      .log_on_from ul li {
          width: 50%;
          font-size: 12px;
          margin-top: 5px;
          text-align: center;
          color: #666666;
          cursor: pointer;
      }

      .log_on_from ul li i {
          font-size: 14px;
          padding-right: 5px; /* 右边距 */
      }

      .log_on_from ul li .col-g {
          color: #2cb84d;
      }

      .log_on_from ul li .col-b {
          color: #128beb;
      }

      .number_error {
          font-size: 12px;
          color: #ce0202;
          /*margin-bottom:15px;*/
          padding-left: 2px;
          display: none;
      }

      .log_on_from .wx,
      .log_on_from .dx {
          width: 25px;
          height: 25px;
          display: inline-block;
          background-size: cover; /* 填充 */
          vertical-align: middle; /* 垂直居中 */
          margin-right: 3px;
      }

      .log_on_from .wx {
          background-image: url("../images/log_on_icon.png");
          background-position-y: 0px; /* 垂直偏移 */
      }

      .log_on_from .dx {
          background-image: url("../images/log_on_icon.png");
          background-position-y: -25px; /* 垂直偏移 */
      }

      .from_box {
          padding: 0px 3px;
      }

      .from_box .captcha_but,
      .loginland_content .captcha_but {
          width: 100%; /* 宽度 */
          display: flex; /* 显示为flex */
          display: -webkit-flex; /* 兼容性 */
          height: 45px;
          margin: 10px 0;
      }

      .from_box .captcha_but input,
      .loginland_content .captcha_but input {
          width: 56%;
      }

      .from_box .captcha_but button,
      .loginland_content .captcha_but button {
          flex: 1;
          border-radius: 5px;
          background-color: #f2f3f5;
          font-size: 14px;
          height: 45px;
          color: #444;
          line-height: 45px; /* 垂直居中 */
          cursor: pointer; /* 鼠标指针 */
          margin-left: 5px;
          text-align: center;
      }

      .from_box .captcha_but button:hover,
      .loginland_content .captcha_but button:hover {
          background-color: #e4e5e7;
      }

      .from_box .captcha_but input,
      .loginland_content .captcha_but {
          margin: 0;
      }

      .captcha_but img {
          width: 160px;
          height: 45px;
          background-color: #fff;
          margin-left: 5px;
          display: inline-block; /* 内联 */
      }

      .log_end {
          text-align: center;
          font-size: 16px;
          margin: 80px auto;
      }

      .log_end p {
          margin: 20px 0px 50px 0px;
          font-size: 18px;
      }

      .log_end img {
          width: 100px;
          margin-bottom: 10px;
      }

      .top_a {
          float: right;
          padding: 10px 15px;
          font-size: 13px;
          color: #666666;
      }

      .top_a a {
          color: #666;
      }

      .top_a .fgx_a {
          width: 0.8px;
          height: 10px;
          background-color: #ccc;
          display: inline-block; /* 内联 */
          margin: 0 5px;
      }

      .top_a a:hover {
          color: #128beb;
      }

      /*管理注册界面*/
      .log_on_from .agree-text .checkbox_input {
          width: 12px;
          height: 12px;
          text-align: left;
          margin-right: 3px;
          vertical-align: middle; /* 垂直居中 */
          -webkit-appearance: checkbox; /* 兼容性 */
      }

      .log_on_from .agree-text p,
      .have_number {
          font-size: 13px;
          color: #666666;
          display: inline-block;
      }

      .log_on_from .col-bule {
          color: #128beb;
          font-weight: 400;
      }

      .have_number {
          margin-top: 10px;
          text-align: center;
          display: block;
      }

      .have_number a {
          color: #128beb;
      }

      .log_on_from .agree-text label {
          cursor: pointer; /* 鼠标指针 */
          font-size: 13px;
          color: #333;
      }

      /*登陆界面*/
      .login_container {
          position: relative;
          width: 100%;
          height: 100%;
          background: #f2f9ff;
          color: #5e5e5e;
      }

      .login_box {
          position: absolute; /* 绝对定位 */
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); /* 平移 */
          width: 460px;
      }

      .login_box .top-login-logo {
          width: 100%;
          height: 62px;
          display: inline-block; /* 内联 */
          text-align: center; /* 居中 */
          vertical-align: middle; /* 垂直居中 */
          margin-bottom: 30px;
      }

      .login_box .top-login-logo img {
          width: 280px;
      }

      .loginland_content {
          width: 100%;
          padding: 20px 30px;
          border: 1px solid #eee;
          background-color: #ffffff;
          box-shadow: 0px 0px 5px rgba(66, 75, 174, 0.1); /* 阴影 */
      }

      .loginland_content h1 {
          font-size: 18px;
          line-height: 45px;
          height: 45px;
          color: #666;
          border-bottom: 1px solid #efefef;
          font-weight: 400;
          margin-bottom: 20px;
      }

      .loginland_content .wxbut {
          width: 75%;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          background-color: #128beb;
          display: block;
          color: #fff;
          text-align: center;
          box-shadow: 0 4px 7px 0 rgba(53, 143, 229, 0.47); /* 阴影 */
          border-radius: 2px; /* 圆角 */
          padding: 0 10px;
          margin: 30px auto;
          cursor: pointer; /* 鼠标指针 */
      }

      .loginland_content .wxbut:hover,
      .sign_but:hover {
          background-color: #0f6ecd; /* 按钮颜色 */
      }

      .loginland_content .btm-text {
          padding-top: 20px;
      }

      .loginland_content .btm-text,
      .loginland_content .btm-text a {
          color: #c2c2c2;
          font-size: 12px;
          text-align: center;
      }

      .loginland_content input {
          width: 100%;
          background-color: #f2f3f5;
          border: 1px solid #f2f3f5;
          box-sizing: border-box;
          font-size: 14px;
          height: 45px;
          padding-left: 10px;
          border-radius: 4px;
          -webkit-appearance: none; /* 兼容性 */
          outline: none; /* 排除轮廓 */
      }

      .loginland_content input:focus {
          border: 1px solid #128beb;
      }

      .loginland_content .sign_but {
          width: 100%;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          background-color: #128beb;
          display: block;
          color: #fff;
          text-align: center;
          box-shadow: 0 4px 7px 0 rgba(53, 143, 229, 0.47); /* 阴影 */
          border-radius: 2px;
          margin: 40px auto 10px;
          cursor: pointer;
      }

      .loginland_content .number_error {
          margin-top: 10px;
      }

      .loginland_content .mt20 {
          margin-bottom: 20px;
      }

      .loginland_content .reset-end {
          text-align: center;
          color: #666666;
          font-size: 16px;
          margin: 40px 0;
      }

      .loginland_content .reset-end img {
          width: 80px;
      }

      .log_on_fr .log_on_from input:hover,
      .loginland_content input:hover {
          background-color: #e4e9f4;
          transition: all 0.8s ease 0s;
          -webkit-transition: all 0.8s ease 0s; /* 兼容性 */
      }

      .sign_but:hover,
      .loginland_content button:hover,
      .log_on_fr .log_on_from .sign_but:hover {
          background-color: #007bff;
      }

      /*register*/
      .register-bigbox {
          background-color: #f2f9ff;
      }

      .register-box {
          margin: 0 auto;
      }

      .register-box .log_on_from {
          background-color: #fff;
          padding: 40px;
      }

      .register-box .register-logo {
          margin: 0 auto;
          text-align: center;
          width: 100%;
          display: block;
      }

      .register-logo img {
          width: 60px;
      }

      .register-box .register-logo p {
          text-align: center;
          font-size: 16px;
          margin-bottom: 20px;
          color: #333333;
      }

      .register-box select {
          width: 100%;
          background-color: #f2f3f5;
          border: 1px solid #f2f3f5;
          box-sizing: border-box;
          font-size: 14px;
          height: 45px;
          margin: 10px 0;
          padding-left: 10px;
          border-radius: 4px;
          -webkit-appearance: none;
          outline: none; /* 排除轮廓 */
          color: #888888;
      }

      .register-box select:focus {
          border: 1px solid #128beb;
      }

      .register-box .log_end img {
          width: 80px;
          margin-bottom: 0;
      }

      .register-box .log_end p {
          margin: 0 0 50px 0;
          font-size: 16px;
      }

      .log_end .erw-content img {
          width: 100px;
          border: 1px solid #f2f3f5;
          padding: 5px;
      }

      .log_end .erw-content p {
          font-size: 13px;
          color: #666666;
      }

      /*滑动验证*/
      .drag_02 {
          width: 100%;
          height: 45px;
          line-height: 45px;
          border-radius: 4px; /* 圆角 */
          background-color: #f2f3f5;
          position: relative;
          margin: 10px auto 0;
          color: #666;
      }

      .bg_02 {
          /*width: 45px;*/
          height: 100%;
          position: absolute;
          background-color: #128beb;
      }

      .text_02 {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          user-select: none;
          font-size: 14px;
          color: #eee;
      }

      .text_02 span {
          background: -webkit-gradient(linear,
                  left top,
                  right top,
                  color-stop(0, #4d4d4d),  /* 0% 处的颜色 */
                  color-stop(0.4, #4d4d4d), /* 40% 处的颜色 */
                  color-stop(0.5, #fff),
                  color-stop(0.6, #4d4d4d),
                  color-stop(1, #4d4d4d));
          /* -webkit-background-clip: text; */
          -webkit-text-fill-color: transparent; /* 去除 Webkit 光标颜色 */
          /* -webkit-animation: text_02 3s infinite; */
          -webkit-text-size-adjust: none; /* 去除 Webkit 文字调整 */
      }

      .text_02 span {
          width: 100%;
          display: inline-block; /* 内联块 */
          color: #666666;
      }

      .btn_02 {
          width: 40px;
          height: 45px;
          position: absolute; /* 绝对定位 */
          border: 1px solid #ccc;
          cursor: move;
          font-family: "Microsoft YaHei"; /* 字体 */
          text-align: center;
          background-color: #fff;
          user-select: none; /* 禁止选择 */
          color: #ccc;
          box-sizing: border-box;
          vertical-align: middle;
          text-align: center;
      }

      .btn_02 {
          background-image: url("../images//r-i.jpg");
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: 12px 14px;
      }

      @media screen and (max-width: 1366px) {
          .log_on_fl {
              width: 380px;
              padding: 0 50px;
          }

          .log_on_fl .log_on_logo {
              width: 108px;
              margin-top: 60px;
          }

          .log_on_fl .log-bg {
              width: 320px;
              left: 80px;
          }

          .log_on_fl p {
              font-size: 24px;
              line-height: 32px;
          }

          .log_on_fl ul {
              margin-top: 1px;
          }

          .log_on_fr {
              width: calc(100% - 480px);
          }

          .log_on_fr .log_on_from {
              width: 360px;
              /*margin:120px auto 0;*/
          }

          .log_on_fr .log_on_from h1 {
              font-size: 18px;
              margin-bottom: 15px;
          }

          .log_on_from .careful_from {
              height: 40px;
              line-height: 40px;
          }

          .log_on_from .careful_from span {
              margin: 5px 0;
          }

          .log_on_from .other_sign {
              margin: 30px 0;
          }
      }

      @media screen and (max-width: 1280px) {
          .log_on_fl .log_on_logo {
              margin-top: 130px;
              margin-left: 50px;
          }

          .log_on_fl .log-bg {
              width: 360px;
              left: 60px;
          }

      }

      @media screen and (max-width: 1024px) {
          .log_on_fl .log_on_logo {
              margin-top: 150px;
              margin-left: 50px;
          }

          .log_on_fl .log-bg {
              width: 360px;
              left: 85px;
          }

          .log_on_fr .log_on_from {
              margin: 100px auto 0;
          }
      }

      @media screen and (max-width: 780px) {

          .log_on_fl,
          .top_a {
              display: none;
          }

          .log_on_fr {
              width: 100%;
              height: 100%;
              position: relative;
          }

          .log_on_fr .log_on_from .log_on_logo02 {
              width: 140px;
              display: block;
              background-size: cover;
              margin: 0 auto 60px;
          }

          .log_on_fr .log_on_from {
              width: 60%;
              overflow: hidden;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              margin: 0;
          }

          .log_on_fr .log_on_from h1 {
              font-size: 20px;
              margin-bottom: 15px;
          }

          .log_on_from .agree-text label,
          .have_number {
              font-size: 12px;
          }

          /*register*/
          .register-bigbox {
              background-color: #fff;
          }

          .register-box .log_on_from {
              width: 100%;
              top: 45%;
          }

          .log_end {
              padding: 0 20px;
          }

          .register-box .from_box {
              padding: 0 20px;
          }

          .register-box .log_on_from .sign_but {
              height: 50px;
              line-height: 50px;
          }

          .register-box .log_on_from h1 {
              font-size: 20px;
              margin-bottom: 10px;
          }

          .register-box .log_end p {
              margin: 0 0 30px 0;
          }
      }

      @media screen and (max-width: 480px) {
          .log_on_fr .log_on_from {
              width: 85%;
          }

          .log_on_fr .log_on_from .log_on_logo02 {
              margin: 0 auto 40px;
          }

          .log_on_fr .log_on_from h1 {
              font-size: 18px;
          }

          /*登陆界面*/
          .login_box {
              width: 100%;
              left: 0;
              top: 0;
              transform: none;
          }

          .login_box .top-login-logo {
              margin: 40px 0;
          }

          .login_box .top-login-logo img {
              width: 240px;
          }

          .login_container {
              background: #ffffff;
          }

          .loginland_content {
              width: 90%;
              padding: 0;
              border: none;
              box-shadow: none;
              margin: 0 auto;
          }

          .loginland_content button {
              width: 85%;
          }

          /*register*/
          .register-box .from_box {
              max-width: 100%;
              padding: 0 20px;
          }
      }

      @media screen and (max-width: 320px) {
          .log_on_fr .log_on_from {
              width: 90%;
              margin: 40px 0;
          }

          .log_on_from .agree-text .checkbox_input {
              margin-left: 2px;
              width: 8px;
              height: 8px;
          }

          .log_on_from ul li {
              margin-bottom: 30px;
          }

          /*register*/
          .register-box .log_on_from {
              top: 50%;
          }

          .register-box .log_end {
              margin: 60px auto;
          }

          .register-box .log_end img {
              width: 60px;
          }

          .log_end .erw-content img {
              width: 80px;
          }

          .register-box .log_on_from input,
          .from_box .captcha_but button {
              font-size: 12px;
          }

          .log_on_from .agree-text p {
              font-size: 12px;
          }

          .have_number {
              margin: 15px 0 40px 0;
          }
      }

      * {
          margin: 0;
          padding: 0;
      }

      .wrap {
          width: 500px;
      }

      #text {
          height: 45px;
          box-sizing: border-box;
          vertical-align: middle;
      }

      #code {
          display: inline-block; /* 内联元素 */
          width: 80px;
          height: 30px;
          background: #aaa;
          text-align: center;
          line-height: 30px;
          color: #fff;
          text-decoration: none; /* 去掉下划线 */
          letter-spacing: 7px; /*字符间距*/
          padding-left: 7px;
          vertical-align: middle; /*垂直居中*/
          font-weight: bold; /*加粗*/
      }

      #btn {
          width: 60px;
          height: 30px;
          outline: 0; /*去掉轮廓*/
          border: #153021;
          background: #499990;
          color: #fff;
          border-radius: 5px;
          padding-right: 60px;
          padding-left: 30px;
      }